include ../../components/text/text.pug

mixin pagination(props)
  -
    var {
      currentPage = 0,
      nPages = 0,
      nRoomsPerPage = 0,
      nRoomsPlus = 0,
    } = props || {};

    var labelText = `${nRoomsPerPage * (currentPage - 1) + 1} - ${nRoomsPerPage * currentPage} из ${nRoomsPlus}+ вариантов аренды`;

  .pagination
    .pagination__links
      - i = 1;
      while i < 4
        if i === currentPage
          .pagination__link-container(
            class = 'pagination__link-container_current'
          )
            a.pagination__link(
              class = 'pagination__link_current'
            ) #{i}
        else
          .pagination__link-container
            a.pagination__link(
              href = 'page-not-found.html'
            ) #{i}
        - i += 1;
      .pagination__link-container
        a.pagination__link ...
      if nPages === currentPage
        .pagination__link-container(
          class = 'pagination__link-container_current'
        )
          a.pagination__link(
            class = 'pagination__link_current'
          ) #{nPages}
      else
        .pagination__link-container
          a.pagination__link(
            href = 'page-not-found.html'
          ) #{nPages}
      .pagination__link-container(
        class = 'pagination__link-container_next'
      )
        a.pagination__link(
          href = 'page-not-found.html'
        )
          .pagination__next-page-arrow
    .pagination__label
      +text({
        tag: 'p',
        text: labelText,
        modifiers: ['align_center'],
      })
