mixin input(opts)
  -
    var hasButton = opts.withSubmitButton || opts.withDropdownButton;
    var classes = 'input js_input' + (hasButton ? ' input_hasButton' : '');

  .input__container
    input(
      class=classes
      name=opts.name
      placeholder=opts.placeholder
      type=opts.type
    )
    if opts.withSubmitButton
      button(
        class='input__button'
        class='input__button_type_submit'
        type='submit'
      )
    if opts.withDropdownButton
      button(
        class='input__button'
        class='input__button_type_dropdown'
        class='js_input__button_type_dropdown'
        type='button'
      )

