include ../../components/like-button/like-button.pug

mixin review(props)
  -
    var {
      date = '',
      likePressed = false,
      nLikes = 0,
      text = '',
      userId = 0,
      username = '',
    } = props || {};

  .review
    .review__avatar-and-likes
      img.review__avatar(
        height='44px'
        width='44px'
        src=require(`../../img/users-avatars/user-${userId}-avatar.jpg`)
        alt=`Аватар пользователя ${username}`
      )
      .review__like-button
        +like-button({
          nLikes,
          pressed: likePressed,
        })
    .review__content
      .review__username
        +text({ tag: 'p', text: username })
      .review__date
        +text({ tag: 'p', text: date })
      .review__review-text
        +text({ tag: 'p', text })
