mixin radio-buttons(props)
  -
    var {
      name = '',
      radioButtons = [],
    } = props || {};

  .radio-buttons
    each radioButton in radioButtons
      label.radio-buttons__label
        input.radio-buttons__input(
          type='radio'
          name=name
          value=radioButton.value
          checked=radioButton.checked === true
        )
        span.radio-buttons__checkmark
        span.radio-buttons__value
          | #{radioButton.value}
