include ../../components/text/text.pug

mixin pie-chart(props)
  -
    var {
      data = [],
      labelForms = ['', '', ''],
      title = undefined,
    } = props || {};

    var totalValue = data.reduce((a, b) => a + b.value, 0);
    function getWordDeclension(number, wordForms) {
      var hundredthPart = number % 100;
      var tenthPart = number % 10;
      var isThirdForm = hundredthPart > 10 && hundredthPart < 20;
      var isSecondForm = tenthPart > 1 && tenthPart < 5;
      var isFirstForm = tenthPart === 1;
      if (isThirdForm) {
        return wordForms[2];
      }
      if (isSecondForm) {
        return wordForms[1];
      }
      if (isFirstForm) {
        return wordForms[0];
      }
      return wordForms[2];
    }
    var totalLabelDeclension = getWordDeclension(totalValue, labelForms);
    var valueCounter = 0;
    var data = data.map((dataElement) => {
      valueCounter += dataElement.value;
      return {
        legend: dataElement.legend,
        degreeFrom: ((valueCounter - dataElement.value) * 360) / totalValue,
        degreeTo: (valueCounter * 360) / totalValue,
      }
    });

  .pie-chart
    if (title)
      .pie-chart__title
        +text({
          tag: 'h2',
          text: title,
        })
    .pie-chart__content
      .pie-chart__diagram
        .pie-chart__center-background
        .pie-chart__center-text
          .pie-chart__total-value #{totalValue}
          .pie-chart__total-label #{totalLabelDeclension}
        each dataElement, index in data
          div(
            class=`pie-chart__part pie-chart__${index + 1}-part`
            style=`--degreeFrom: ${dataElement.degreeFrom}deg; --degreeTo: ${dataElement.degreeTo}deg`
          )
          div(
            class=`pie-chart__delimiter pie-chart__${index + 1}-delimiter`
            style=`--degree: ${dataElement.degreeTo}deg;`
          )
      ul.pie-chart__legend
        each dataElement, index in data
          li.pie-chart__legend-item
            div(
              class=`pie-chart__legend-marker pie-chart__legend-marker_${index + 1}`
            )
            .pie-chart__legend-label #{dataElement.legend}
