mixin dropdown-block(opts)
  .dropdown-block__container
    .dropdown-block__label
      +text({
        tag: 'h3',
        text: opts.label,
      })
    div(
      class='dropdown-block'
      class='js-dropdown-block'
    )
      div(
        class='dropdown-block__text'
        class='js-dropdown-block__text'
      )=opts.inputText
      button(
        class='dropdown-block__button'
        class='js-dropdown-block__button'
        type='button'
      )
