include ../date-filter/date-filter.pug
include ../count-picker/count-picker.pug
include ../information-tooltip/information-tooltip.pug
include ../arrival-filters/arrival-filters.pug

mixin booking-card(opts)
  -
    function formatSum(sum) {
      return sum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1\xa0').concat('₽');
    }
    var roomPrice = opts.roomPrice ? formatSum(opts.roomPrice) : '';
    var discount = opts.discount ? formatSum(opts.discount) : '';
    var initialArrivalDate = opts.initialArrivalDate || '';
    var initialDepartureDate = opts.initialDepartureDate || '';
    var guestPickerItems = [
      { label: 'Взрослые', count: 2 },
      { label: 'Дети', count: 1 },
      { label: 'Младенцы', count: 0 }
    ];

  div(
    class='booking-card'
    class='js-booking-card'
  )
    form
      fieldset.booking-card__fieldset
        legend.booking-card__legend
          .booking-card__room
            | №
            |
            span.booking-card__room-number=opts.roomNumber
            |
            |
            span.booking-card__room-type=opts.roomType
          span.booking-card__price
            span.booking-card__price-value.js-booking-card__price-value=roomPrice
            span.booking-card__price-period  в сутки
        +arrival-filters({ initialArrivalDate, initialDepartureDate, guestPickerItems })
        ul.booking-card__cost-details-list.js-booking-card__cost-details-list
          li.booking-card__cost-details-item
            span.js-booking-card__base-cost-details
            span.js-booking-card__total-base-cost
          li.booking-card__cost-details-item
            span.js-booking-card__discount='Сбор за услуги: скидка\xa0' + discount
            .booking-card__cost-details-total
              +information-tooltip('Tooltip')
              span 0₽
          li.booking-card__cost-details-item
            span Сбор за дополнительные услуги
            .booking-card__cost-details-total
              +information-tooltip('Tooltip')
              span.js-booking-card__additional-services-fees
        div(
          class='booking-card__total-cost-block'
          class='js-booking-card__total-cost-block'
        )
          span.booking-card__total-cost-text='Итого'
          span.booking-card__total-cost-separator
          span.js-booking-card__total-cost
      button(
        class='booking-card__submit-button'
        class='js-booking-card__submit-button'
        type='submit'
      )='Забронировать'
