extends ../ui-kit/ui-kit.pug
include ../../components/date-filter/date-filter.pug
include ../../components/count-picker/count-picker.pug

block variables
  -
    var title = 'Form Elements';
    var description = 'Form Elements Description';
    var keywords = 'Form Elements Keywords';
    var guestPickerItems = [
      { label: 'Взрослые', count: 0 },
      { label: 'Дети', count: 0 },
      { label: 'Младенцы', count: 0 }
    ];

block content
  div(
    class='elements'
    class='js-elements'
  )
    div(
      class='elements__element'
      class='js-elements__element'
    )
      +date-filter({
        arrivalLabel: 'Date dropdown',
        departureLabel: 'Date dropdown',
        separateDates: true,
      })
    div(
      class='elements__element'
      class='js-elements__element'
    )
      +count-picker({
        label: 'dropdown',
        inputText: 'Сколько гостей',
        items: guestPickerItems,
        withControlButtons: true,
        type: 'guests',
      })
