mixin room-number-and-price(props)
  -
    var {
      isRoomDetailsBlock = false,
      roomNumber = 0,
      roomSpecialType = '',
    } = props || {};

    function formatSum(sum) {
      return sum.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1\xa0').concat('₽');
    }

    var price = props.price ? formatSum(props.price) : '';

  .room-number-and-price
    a(
      class=`room-number-and-price__room${!isRoomDetailsBlock ? '_link' : ''}`
      href=!isRoomDetailsBlock ? 'room-details.html' : null
    )
      | №
      |
      span(
        class=`room-number-and-price__room-number
        ${isRoomDetailsBlock ? ' room-number-and-price__room-number_bigger-font' : ''}`
      )=roomNumber
      |
      |
      span.room-number-and-price__room-special-type=roomSpecialType
    span.room-number-and-price__price
      span(
        class='room-number-and-price__price-value'
        class='js-room-number-and-price__price-value'
      )=price
      span.room-number-and-price__price-period=' в сутки'
