include ../logo-link/logo-link.pug

mixin header(props)
  -
    var {
      username = false,
    } = props || {};

    var menuData = [
      {
        linkName: 'О нас',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Услуги',
        link: 'page-not-found.html',
        submenu: [
          {
            linkName: 'Услуга 1',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Услуга 2',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Услуга 3',
            link: 'page-not-found.html',
          },
        ],
      },
      {
        linkName: 'Вакансии',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Новости',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Соглашения',
        link: 'page-not-found.html',
        submenu: [
          {
            linkName: 'Соглашение 1',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Соглашение 2',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Соглашение 3',
            link: 'page-not-found.html',
          },
        ],
      },
    ];

  .header.js-header
    .header__logo-container
      +logo-link()
    .header__menu-buttons
      if !username
        button(
          class='header__profile-menu-button'
          class='js-header__profile-menu-button'
          type='button'
        )
      button(
        class='header__nav-menu-button'
        class='js-header__nav-menu-button'
        type='button'
      )
    nav(
      class='header__menu'
      class='js-header__menu'
    )
      each menuItem in menuData
        .header__link-container
          a(
            class='header__link'
            class='js-header__link'
            href=menuItem.link
          )= menuItem.linkName
          if menuItem.submenu
            div(
              class='header__expand-button'
              class='js-header__expand-button'
            )
            .header__dropdown-content
              each link in menuItem.submenu
                .header__link-container
                  a.header__link(href=link.link)= link.linkName
    .header__profile
      if username
        p.header__username= username
      else
        div(
          class='header__profile-menu'
          class='js-header__profile-menu'
        )
          .header__link-container
            a(
              class='header__link header__button header__button_outlined'
              href='login.html'
            )= 'Войти'
          .header__link-container
            a(
              class='header__link header__button'
              href='signup.html'
            )= 'Зарегистрироваться'
