include ../logo/logo-link

mixin header(username)
  -
    var menuData = [
      {
        linkName: 'О нас',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Услуги',
        link: 'page-not-found.html',
        submenu: [
          {
            linkName: 'Услуга 1',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Услуга 2',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Услуга 3',
            link: 'page-not-found.html',
          },
        ],
      },
      {
        linkName: 'Вакансии',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Новости',
        link: 'page-not-found.html'
      },
      {
        linkName: 'Соглашения',
        link: 'page-not-found.html',
        submenu: [
          {
            linkName: 'Соглашение 1',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Соглашение 2',
            link: 'page-not-found.html',
          },
          {
            linkName: 'Соглашение 3',
            link: 'page-not-found.html',
          },
        ],
      },
    ];

  .header
    .header__logo
      +logo-link()
    input.header__menu-burger-checkbox(
      id= 'menu-burger'
      type= 'checkbox'
    )
    label.header__menu-burger-label(for='menu-burger')
      img(
        class= 'header__icon'
        src= require('../../img/menu-icon.svg'),
        alt= 'Menu Icon'
      )
    if !username
      input.header__profile-burger-checkbox(
        id= 'profile-burger'
        type= 'checkbox'
      )
      label.header__profile-burger-label(for='profile-burger')
        img(
          class= 'header__icon'
          src= require('../../img/account-icon.svg'),
          alt= 'Account Icon'
        )
    nav.header__menu
      each menuItem in menuData
        if menuItem.submenu
          .header__menu-dropdown
            a(
              class='header__link header__link_inline-block',
              href=menuItem.link
            )= menuItem.linkName
            img(
              class= 'header__expand-icon'
              src= require('../../img/expand-icon.svg'),
              alt= 'Expand icon'
            )
            .header__menu-dropdown-content
              each link in menuItem.submenu
                a(
                  class='header__link header__link_block'
                  href=link.link
                )= link.linkName
        else
          a(
            class='header__link header__link_block'
            href=menuItem.link
          )= menuItem.linkName
    .header__profile
      if username
        a.header__link= username
      else
        .header__profile-menu
          a.header__link(href='login.html')= 'Войти'
          a.header__link(href='signup.html')= 'Зарегистрироваться'
