include ../footer-menu/footer-menu.pug
include ../logo/logo-link.pug
include ../social-buttons/social-buttons.pug

mixin footer(isMobile)
  -
    var siteDescription = 'Бронирование номеров в лучшем отеле 2019 года ' +
            'по версии ассоциации «Отельные взгляды»';
    var subscriptionDescription = 'Получайте специальные предложения и новости сервиса';
    var copyrightText = 'Copyright © 2018 Toxin отель. Все права защищены.';
    var menuData = [
      {
        columnName: 'Навигация',
        links: [
          {
            linkName: 'О нас',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Новости',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Служба поддержки',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Услуги',
            link: 'page-not-found.html'
          },
        ],
      },
      {
        columnName: 'О нас',
        links: [
          {
            linkName: 'О сервисе',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Наша команда',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Вакансии',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Инвесторы',
            link: 'page-not-found.html'
          },
        ],
      },
      {
        columnName: 'Служба поддержки',
        links: [
          {
            linkName: 'Соглашения',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Сообщества',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Связь с нами',
            link: 'page-not-found.html'
          },
        ],
      },
    ];

  .footer
    div(
      class='footer__top'
      class= isMobile && 'footer__top_mobile'
    )
      div(
        class='footer__nav-and-subscription'
        class= isMobile && 'footer__nav-and-subscription_mobile'
      )
        div(
          class='footer__site-description'
          class= isMobile && 'footer__site-description_mobile'
        )
          .footer__logo-wrap
            +logo-link()
          div(
            class='footer__site-description-text'
            class= isMobile && 'footer__site-description-text_mobile'
          )
            +text(
              'p',
              siteDescription
            )
        div(
          class='footer__menu'
          class= isMobile && 'footer__menu_mobile'
        )
          +footer-menu(menuData)
        div(
          class='footer__subscription'
          class= isMobile && 'footer__subscription_mobile'
        )
          .footer__subscription-caption
            +text(
              'h3',
              'Подписка'
            )
          .footer__subscription-description
            +text(
              'p',
              subscriptionDescription
            )
    div(
      class='footer__bottom'
      class= isMobile && 'footer__bottom_mobile'
    )
      p(
        class='footer__copyright'
        class= isMobile && 'footer__copyright_mobile'
      )= copyrightText
      .footer__social-buttons
        +social-buttons()
