mixin social-buttons()
  -
    var socialButtons = [
      {
        link: 'https://twitter.com/',
        title: 'Наш Twitter',
        imgPath: require('../../img/twitter-logo.svg'),
      },
      {
        link: 'https://www.facebook.com',
        title: 'Наш Facebook',
        imgPath: require('../../img/facebook-logo.svg'),
      },
      {
        link: 'https://www.instagram.com',
        title: 'Наш Instagram',
        imgPath: require('../../img/instagram-logo.svg'),
      },
    ]

  .social-buttons
    ul.social-buttons__list
      for button in socialButtons
        li.social-buttons__list-item
          a.social-buttons__link(
            href= button.link
            title= button.title
            target= '_blank'
            rel= 'noopener noreferrer'
          )
            img(
              class= 'social-buttons__img'
              src= button.imgPath
              alt= `${button.title.slice(4)} logo`
            )
